@import url('https://fonts.googleapis.com/css?family=Anton');

%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@import './scss/loading';

body {
  @extend %flex-center;

  justify-content: flex-start;
  flex-direction: column;
  font: 14px 'Anton', sans-serif;
  height: 1250px;
  background-image: url(./images/background.jpg);
  background-size: auto 100%;
  background-repeat: no-repeat;
  margin: 0;
}

header {
  @extend %flex-center;

  flex-direction: column;
  justify-content: space-between;
  width: 800px;
  height: 200px;
  margin-top: 30px;
}

@import './scss/header';

main {
  @extend %flex-center;

  justify-content: flex-start;
  flex-direction: column;
  width: 800px;
  height: 900px;
  margin-top: 25px;
}

@import './scss/main';

footer {
  @extend %flex-center;

  width: 800px;
  height: 55px;
  background-color: rgba(52, 52, 52, 0.31);
  margin-top: 25px;
}

@import './scss/footer';


