$block-background-color: rgba(52, 52, 52, 0.31);

.current-weather {
  display: flex;
  width: 100%;
  height: 27%;

  &__basic {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 59%;
    margin-right: 2.5%;
  }

  &__icon {
    width: 50%;
    height: 100%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 80%;
    }
  }

  &__temperature {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    font-size: 150px;
    color: white;
    padding: 0;

    img {
      width: 30%;
      margin-left: 5%;
    }
  }

  &__data {
    display: flex;
    flex-direction: column;
    width: 38.5%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: $block-background-color;

    li {
      display: flex;
      align-items: center;
      list-style: none;
      height: 25%;
      font-size: 25px;
      color: white;
    }

    i {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50%;
      height: 100%;
    }

    span {
      display: flex;
      justify-content: center;
      width: 50%;
    }
  }
}

.day-info {
  width: 144px;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  color: white;
  background-color: $block-background-color;

  &:hover {
    background-color: rgba(52, 52, 52, 0.6);
    cursor: pointer;
  }

  & > li {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 33%;
    width: 100%;
    text-align: center;
    font-size: 25px;
    margin: 0;
  }

  &__weather {
    width: 100%;
    margin: 0;
    padding: 0;

    img {
      width: 50%;
    }
  }

  &__temp {
    margin: 0;

    img {
      width: 12%;
      margin-left: 1%;
    }
  }
}

.days-container {
  width: 100%;
  height: 30%;
  margin: 3% 0 0 0;
  overflow-x: auto;

  & > ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    margin: 0;

    & > li {
      height: 100%;
      width: 144px;
      list-style: none;
    }
  }
}

.table-container {
  width: 100%;
  height: 45%;
  margin: 3% 0 0 0;
}

.detail-weather {
  width: 100%;
  height: 100%;
  background-color: $block-background-color;

  tr {
    display: flex;
    align-items: center;
    height: 15%;
  }

  tr:nth-child(2) {
    height: 25%;
  }

  td {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 9%;
    font-size: 20px;
    color: white;
  }

  td:first-child {
    width: 18%;
  }

  td:nth-child(even) {
    margin-left: 2%;
  }

  img {
    width: 80%;
  }
}

@media only screen and (max-width: 850px) {
  .current-weather {
    flex-direction: column;
    height: 35%;

    &__basic {
      width: 100%;
    }

    &__icon {
      img {
        width: 70%;
      }
    }

    &__temperature {
      font-size: 130px;

      img {
        width: 25%;
        margin-left: 5%;
      }
    }

    &__data {
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      height: 70%;

      li {
        height: 100%;
        width: 25%;
        flex-direction: column;
        align-items: center;
      }

      i {
        justify-content: center;
        align-items: center;
        height: 50%;
      }

      span {
        justify-content: center;
        align-items: center;
        height: 50%;
      }
    }
  }

  .days-container {
    height: 20%;
    overflow-x: auto;

    li {
      margin-left: 10px;
    }

    li:nth-child(1) {
      margin-left: 0;
    }
  }

  .table-container {
    overflow: auto;
  }

  .day-info {
    li {
      margin: 0;
      padding: 0;
    }
    &__date {
      font-size: 25px;
    }

    &__weather {
      margin: 0;
      padding: 0;
    }

    &__temp {
      font-size: 25px;
      margin: 0;
      padding: 0;
    }
  }

  .detail-weather {
    height: 30%;
    overflow-y: auto;

    tbody {
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;

      tr {
        height: 100%;
        width: 15%;
        display: flex;
        flex-direction: column;
      }

      tr:nth-child(2) {
        width: 25%;
        height: 100%;
      }

      td {
        width: 100%;
        height: 100px;
        font-size: 25px;
      }
    }

    img {
      width: 50%;
    }
  }
}

@media only screen and (max-width: 550px) {
  .current-weather {
    &__icon {
      width: 35%;

      img {
        width: 100%;
      }
    }

    &__temperature {
      width: 65%;
      font-size: 110px;

      img {
        width: 25%;
      }
    }

    &__data {
      li {
        width: 33%;

        span {
          width: 100%;
        }

        i {
          width: 100%;
        }
      }

      li:nth-child(2) {
        display: none;
      }
    }
  }

  .detail-weather {
    tr {
      &:nth-child(1) {
        width: 25%;
      }

      &:nth-child(4) {
        display: none;
      }

      &:nth-child(2) {
        img {
          width: 70%;
        }
      }
    }
  }
}
